.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__title {
  font-size: var(--size-xl);
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.hero__description {
  font-size: var(--size-sm);
  max-width: 60ch;
}

.hero__btn {
  margin-top: 35.2px;
  display: inline-block;
  background-color: var(--clr-pink);
  padding-top: 12.8px;
  padding-bottom: 12.8px;
  padding-left: 43.2px;
  padding-right: 43.2px;
  border-radius: 50px;
  box-shadow: 0rem .625rem .9375rem -0.1875rem rgba(0, 0, 0, 0.1),
    0rem .625rem .9375rem -0.1875rem rgba(0, 0, 0, 0.1);
  user-select: none;
  /* text- */
  font-size: var(--size-xs);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--clr-pale-blue);
}

.hero__btn:hover {
  transform: translatey(20%);
  transition: all 0.5s ease-in-out;
  }

.hero__img {
  margin-top: 80px;
  width: 300px;
}

.hero__counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin-top: 32px;
}

.hero__counter-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.img-counter {
  width: 1.25rem;
  margin-right: 76.8px;
}

.title__counter {
  font-size: var(--size-4xl);
}

.counter__description {
  font-size: var(--size-sm);
  font-weight: 500;
}

/* xs */
/* @media (min-width: 29.6875rem) {} */

/* sm */
@media (min-width: 40rem) {
  .hero__title {
    font-size: var(--size-2xl);
  }

  .hero__description {
    font-size: var(--size-base);
    max-width: 60ch;
  }

  .hero__img {
    width: 28.125rem;
  }

  .hero__btn {
    font-size: var(--size-sm);
  }

  .hero__counter {
    flex-direction: row;
    align-items: start;
  }
}

/* md */
/* @media (min-width: 48rem) {} */

/* lg */
@media (min-width: 64rem) {
  .hero__title {
    font-size: var(--size-3xl);
  }

  

  .hero__img {
    width: 43.75rem;
  }

  .hero__btn {
    font-size: var(--size-base);
  }

  /*  */

  .hero__counter {
    flex-direction: row;
    align-items: start;
    gap: 160px;
  }

  .img-counter {
    width: 1.875rem;
    margin-right: 104px;
  }

  .title__counter {
    font-size: var(--size-5xl);
  }

  .counter__description {
    font-size: var(--size-base);
    font-weight: 500;
  }
}

/* xl */
/* @media (min-width: 80rem) {} */

/* 2xl */
/* @media (min-width: 96rem) {} */
