/* background */
.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
  padding-top: 4rem;
}

.users__img {
  width: 18.75rem;
}

.users__title {
  font-size: var(--size-lg);
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}

.users__description {
  font-size: var(--size-sm);
  max-width: 60ch;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .users__title {
    font-size: var(--size-2xl);
  }

  .users__description {
    font-size: var(--size-base);
    max-width: 60ch;
  }

  .users__img {
    width: 28.125rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .users {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    text-align: justify;
  }

  .users__title {
    font-size: var(--size-2xl);
  }

  .users__description {
    max-width: 55ch;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
